.container{
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 1%;
    position: relative;
    padding: 2rem 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer{
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.inputFieldContainer{
    width: 75%;
}

.inputField{
    margin-left: 5px;
    height: 2.5rem;
    width: 95%;
    background-color: rgb(241, 239, 239);
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    padding-left: 10px;
}

.searchBtn{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBtn:hover{
    background-color: rgb(37, 37, 37);
    cursor: pointer;
}

.cardContainer{
    /* border: 1px solid red; */
    margin-top: 3rem;
    height: 100%;
    width: 88%;
    /* display: flex; */
}